<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | truncate: 45, "…"}} | {{ site.title }}</title>
    <meta name="description" content="{{ page.content | strip_html | truncate: 120, '…' }}">
    <meta name="fediverse:creator" content="@manualdousuario@mastodon.social" />
    {% feed_meta %}
    {% if page.layout == 'default' or page.layout == 'page' %}<meta name="robots" content="index,follow">{% else %}<meta name="robots" content="noindex,follow">{% endif %}

    <link rel="stylesheet" href="/style.css" media="all"/>
</head>

<body{% if page.layout == 'blog' %} class="layout-blog"{% endif %}>
