<header>
<h2 class="title">
    <picture>
        <img
            type="image/avif"
            srcset="{{ site.url }}/assets/rodrigo-ghedin-96px.avif"
            src="{{ site.url }}/assets/rodrigo-ghedin-96px.jpg"
            alt="Foto"
            width="48"
            height="48"
        />
    </picture> <a href="{{ site.url }}">{{ site.title }}</a></h2>
<nav>
    <a href="{{ site.url }}{{ site.Blog }}">/blog</a>
    <a href="{{ site.url }}/now">/now</a>
    <a href="https://newsletter.ghed.in">/newsletter</a>
    <a href="{{ site.url }}/feed.xml"><img src="{{ site.url }}/assets/rss.svg" alt="RSS" width="22" height="22" /></a>
</nav>
</header>