{% include head.html %}

{% include header.html %}

<main>
  <article class="h-entry{% if page.type == 'image' %} e-image{% elsif page.type == 'quote' %} e-quote{% elsif page.type == 'aside' %} e-aside{% elsif page.type == 'link' %} e-link{% elsif page.type == 'page' %} entry_page{% endif %}">

    {% if page.type == nil %}
    <h1 class="p-name">{{ page.title }}</h1>
    {% endif %}

    <div class="e-content">
      {{ page.content }}
    </div>

    <p class="dt-published">{{ page.date | date: "%-d/%-m/%Y" }}</p>

    <p class="comentario">O blog não tem comentários, mas podemos falar deste post <a href="mailto:rodrigo@ghed.in?subject={{ page.title }}">por e-mail</a>.</p>
  </article>

</main>

{% include footer.html %}

</body>

</html>